# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
out-tsc/
bazel-out/

# Angular cache
.angular/

# Coverage
coverage/
.nyc_output/

# Logs
logs/
*.log

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
.history/

# Temp
.temp
.tmp
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
